<div class="notice">
    <div class="bg">
        <pre>
                  ___     ___
                 /   \   /   \     
                /   / \_/ \   \    
                \__/\     /\__/    
                     \O O/         
                  ___/ ^ \___      
                     \___/         
                     _/ \_
                  __//   \\__
                 /___\/_\/___\
        </pre>
    </div>
    <div class="info">
        <h3>好吧，出错了。生活中，不如意之事十有八九，看开些：）</h3>
        <p class="message">{{message}}</p>
        <p class="tip"><a href="/">返回首页</a> <span class="divider">或</span> <a href="javascript:history.back();">回到上页</a></p>
    </div>
</div>
