*.pyc
*.log*
.DS_Store
*.pid
data/backup/mysql/*.sql
data/backup/redis/*.rdb
data/backup/redis/*.aof
design/
upload/**
*.egg-info
*.rdb
*.sock
etc/nginx/deploy.conf
etc/nginx/dev.conf
etc/redis/deploy.conf
etc/redis/dev.conf
etc/supervisord/deploy.conf
etc/supervisord/dev.conf
