.clearfix {
  clear: both;
  padding: 0;
  margin: 0;
}
a {
  color: #5F778B;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #005580;
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
.noneselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
input[type="text"],
input[type="password"],
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: #FDFDFD;
  border-width: 1px;
  border-style: solid;
  border-color: #999 #CCC #DDD #999;
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  transition: border linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 250px;
}
.pagination {
  height: 50px;
  margin: 0;
  clear: both;
}
.pagination ul {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul li {
  list-style: none;
  line-height: 18px;
  float: left;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination ul li:hover {
  background: #f5f5f5;
}
.pagination ul li:first-child {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination ul li:last-child {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination ul li.disabled {
  padding: 0 14px;
  line-height: 34px;
  color: #999;
  cursor: default;
}
.pagination ul li.active {
  background: #f5f5f5;
}
.pagination ul li.active a {
  color: #999;
}
.pagination ul li.active a:hover {
  cursor: default;
}
.pagination ul li a {
  display: block;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
}
blockquote {
  margin: 0;
}
form label {
  color: #777;
  cursor: pointer;
}
form .section {
  margin-bottom: 7px;
  overflow: hidden;
}
form .section.action {
  margin-bottom: 0;
}
form.flat {
  margin: -10px;
}
form.flat input[type="file"] {
  width: 260px;
}
form.flat .section {
  border-bottom: 1px solid #E8F0F5;
  margin: 0;
  padding: 10px 0 10px;
}
form.flat .section:last-child {
  border: 0;
}
form.flat .section:nth-of-type(even) {
  background: #EFF9FD;
}
form.flat .avatar label {
  margin-top: 15px;
}
form.flat label {
  float: left;
  width: 220px;
  text-align: right;
  margin-right: 20px;
}
form.flat label .tip {
  font-size: 12px;
  color: #ccc;
  margin: -3px 0;
  padding: 0;
}
form.flat .input {
  line-height: 40px;
}
form.flat .textarea {
  line-height: 14px;
}
form.flat .btn {
  margin-left: 240px;
}
input[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
  color: #777;
  background: #ddd;
}
.avatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.avatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn.disabled,
.btn[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
  color: #777;
  background: #f5f5f5;
  filter: none;
  border-color: #ccc;
  text-shadow: none;
}
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active {
  background: #f5f5f5;
  filter: none;
  border-color: #ccc;
  text-shadow: none;
}
.alert {
  text-align: center;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  color: #C09853;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.alert-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}
.alert-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}
.alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
.error {
  color: red;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 26px;
}
.success {
  color: #468847;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 12px;
  line-height: 26px;
}
.btn {
  background-color: #DDD;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
  display: inline-block;
  overflow: hidden;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #CCC;
  background-repeat: no-repeat;
  border: 1px solid #CCC;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.btn:hover {
  text-decoration: none;
}
.ie .btn {
  padding: 2px 10px;
}
.mini-btn {
  font-size: 11px;
  padding: 1px 6px;
  line-height: 16px;
}
.primary-btn {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #019AD2;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#33bcef), to(#019ad2));
  background-image: -moz-linear-gradient(#33bcef, #019ad2);
  background-image: -ms-linear-gradient(#33bcef, #019ad2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33bcef), color-stop(100%, #019ad2));
  background-image: -webkit-linear-gradient(#33bcef, #019ad2);
  background-image: -o-linear-gradient(#33bcef, #019ad2);
  background-image: linear-gradient(#33bcef, #019ad2);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-color: #057ED0;
}
.danger-btn {
  color: white;
  background-color: #DA4F49;
  text-shadow: none;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  background-image: -moz-linear-gradient(#ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(#ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #bd362f));
  background-image: -webkit-linear-gradient(#ee5f5b, #bd362f);
  background-image: -o-linear-gradient(#ee5f5b, #bd362f);
  background-image: linear-gradient(#ee5f5b, #bd362f);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
  background-repeat: repeat-x;
  border-color: #BD362F #BD362F #802420;
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: #0271BF;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2daddc), to(#0271bf));
  background-image: -moz-linear-gradient(#2daddc, #0271bf);
  background-image: -ms-linear-gradient(#2daddc, #0271bf);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2daddc), color-stop(100%, #0271bf));
  background-image: -webkit-linear-gradient(#2daddc, #0271bf);
  background-image: -o-linear-gradient(#2daddc, #0271bf);
  background-image: linear-gradient(#2daddc, #0271bf);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd);
  border-color: #096EB3;
}
body {
  padding: 0;
  margin: 0;
  color: #333;
  font: 13px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}
.box {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #A2B6C6;
  margin-bottom: 20px;
}
.box .header {
  color: #5F778B;
  font-weight: bold;
  padding: 5px 10px;
  background: url(/static/img/items.png) 0 -177px repeat-x;
  border-bottom: 1px solid #A2B6C6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.box .header .right {
  float: right;
  font-size: 12px;
  font-weight: normal;
}
.box .body {
  min-height: 35px;
  padding: 10px;
  overflow: hidden;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.box .body.main {
  padding: 15px;
}
.box .body.ul {
  margin-bottom: -15px;
  margin-right: -15px;
}
.icon-bio {
  background: url(/static/img/items.png) 0 -242px;
  width: 16px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-right: 7px;
}
.icon-resize-full {
  background: url(/static/img/items.png) -8px -373px;
  width: 23px;
  height: 20px;
  display: inline-block;
}
.icon-resize-small {
  background: url(/static/img/items.png) -37px -373px;
  width: 23px;
  height: 20px;
  display: inline-block;
}
.icon-anchor {
  background: url(/static/img/items.png) -71px -371px;
  width: 20px;
  height: 15px;
  display: inline-block;
}
.icon-delete {
  background: url(/static/img/items.png) -78px -267px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.icon-tag {
  background: url(/static/img/items.png) 0 -220px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.icon-edit {
  background: url(/static/img/items.png) -53px -267px;
  width: 13px;
  height: 15px;
  display: inline-block;
}
.icon-arrow-left {
  background: url(/static/img/items.png) 0 -297px;
  width: 27px;
  height: 44px;
  display: inline-block;
}
.icon-arrow-right {
  background: url(/static/img/items.png) -36px -297px;
  width: 27px;
  height: 44px;
  display: inline-block;
}
.icon-liked-btn {
  background: url(/static/img/items.png) 0 -266px;
  width: 16px;
  height: 18px;
  display: inline-block;
}
.icon-like-btn {
  background: url(/static/img/items.png) -25px -266px;
  width: 16px;
  height: 18px;
  display: inline-block;
}
.icon-level0 {
  background: url(/static/img/items.png) -24px -245px;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.icon-level1 {
  background: url(/static/img/items.png) 0 -355px;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.icon-level2 {
  background: url(/static/img/items.png) -25px -355px;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.icon-level3 {
  background: url(/static/img/items.png) -48px -355px;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.icon-level4 {
  background: url(/static/img/items.png) -76px -355px;
  width: 20px;
  height: 18px;
  display: inline-block;
}
.icon-view {
  background: url(/static/img/items.png) -72px -220px;
  width: 15px;
  height: 10px;
  display: inline-block;
}
.icon-like {
  background: url(/static/img/items.png) -48px -220px;
  width: 12px;
  height: 11px;
  display: inline-block;
  vertical-align: text-top;
}
.icon-comment {
  background: url(/static/img/items.png) -23px -220px;
  width: 12px;
  height: 10px;
  display: inline-block;
}
.icon-slideup {
  background: url(/static/img/items.png) -58px -248px;
  width: 8px;
  height: 7px;
  display: inline-block;
}
.icon-slidedown {
  background: url(/static/img/items.png) -74px -248px;
  width: 8px;
  height: 7px;
  display: inline-block;
}
.inner {
  position: relative;
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 14px 0;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
#header {
  background: url(/static/img/items.png) repeat-x;
}
#header .inner {
  position: relative;
}
#header .inner #logo {
  float: left;
}
#header .inner #logo a {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#header .inner #slogon {
  color: #ccc;
  font-size: 14px;
  left: 90px;
  top: 15px;
  position: absolute;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#header .inner #witticism {
  color: #ddd;
  float: right;
  margin-top: 2px;
}
#header .inner .nav-right {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header .inner .nav-right li {
  float: right;
  margin-right: 10px;
}
#header .inner .nav-right li a {
  color: #fff;
}
.photo-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 227px;
  float: left;
  margin: 0 15px 15px 0;
}
.photo-item .header {
  overflow: hidden;
  padding: 6px;
  background: #EFF9FD;
  height: 23px;
  line-height: 25px;
  border-bottom: 1px solid #ccc;
}
.photo-item .header .avatar img {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.photo-item .body {
  padding: 0;
}
.photo-item .body img {
  width: 215px;
  height: 215px;
  padding: 6px 6px 0;
}
.photo-item .footer {
  overflow: hidden;
  border-top: 1px solid #ccc;
  padding: 6px;
  color: #999;
  font-size: 11px;
}
.photo-item .footer ul {
  list-style: none;
  overflow: hidden;
}
.photo-item .footer ul li {
  float: left;
  padding-right: 13px;
}
.photo-item .footer .meta {
  float: left;
}
.photo-item .footer .created {
  font-size: 10px;
  float: right;
  color: #ccc;
}
#main {
  width: 750px;
  margin: 8px 20px 20px 0;
  float: left;
}
#register,
#login {
  width: 550px;
  margin: 70px auto;
}
#register .body,
#login .body {
  padding: 15px 30px;
}
#register .body form,
#login .body form {
  margin: -10px 0;
  padding: 8px 0;
}
#register .body form input[type="text"],
#login .body form input[type="text"],
#register .body form input[type="password"],
#login .body form input[type="password"] {
  float: left;
}
#login {
  width: 325px;
}
.login-decorate-left {
  position: absolute;
  top: 108px;
  left: 4px;
}
.login-decorate-right {
  position: absolute;
  top: 108px;
  right: 4px;
}
.notice {
  height: 400px;
}
.notice .bg {
  position: absolute;
  top: 40px;
  left: 80px;
  z-index: -1;
}
.notice .bg pre {
  font: 12px monospace;
}
.notice .info {
  margin: 62px 0 0 330px;
}
.notice .info p.message {
  font-size: 14px;
  color: #777;
}
.notice .info p.tip {
  font-size: 12px;
}
.notice .info p.tip .divider {
  color: #aaa;
}
#sidebar {
  float: right;
  width: 185px;
  margin-top: 8px;
}
#sidebar .body {
  padding-top: 0;
  padding-bottom: 0;
}
#sidebar .box .anchor {
  color: #5F778B;
}
#sidebar .box .item {
  cursor: pointer;
}
#sidebar .box .item:hover {
  background: #EFF9FD;
}
#sidebar .box .highlight {
  background: #EFF9FD;
}
#sidebar .box ul {
  list-style: none;
}
#sidebar .box ul li {
  border-bottom: 1px solid #E8F0F5;
  margin: 0 -10px;
  padding: 6px 10px;
}
#sidebar .box ul li:last-child {
  border-bottom: 0;
  padding-bottom: 10px;
  margin-bottom: 0;
}
#sidebar .box ul li .num {
  float: right;
  color: #999;
  font-size: 12px;
  margin-right: 10px;
}
#sidebar input[type="text"],
#sidebar input[type="password"] {
  width: 150px;
}
#sidebar #panel-login .body {
  padding-bottom: 0;
  padding-top: 10px;
}
#sidebar #panel-login .tip {
  font-size: 12px;
  color: #bbb;
}
#sidebar #panel-login .alert-info {
  padding: 3px;
  font-size: 12px;
  margin-bottom: 10px;
}
#sidebar #panel-about .body {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #777;
  font-size: 12px;
}
#sidebar #panel-about .body p {
  margin: 0;
  padding: 0 0 10px;
}
#sidebar #panel-about .body p:last-child {
  padding: 0;
}
#sidebar #panel-me .settings {
  float: right;
  font-size: 12px;
  color: #777;
}
#sidebar #panel-me .me {
  border-bottom: 1px solid #E8F0F5;
  margin: 0 -10px;
  padding: 10px;
}
#sidebar #panel-me .me .level {
  vertical-align: text-bottom;
}
#sidebar #panel-me .me .avatar {
  float: left;
  margin-right: 6px;
  width: 24px;
  height: 24px;
}
#sidebar #panel-me .follow {
  border-bottom: 1px solid #E8F0F5;
  overflow: hidden;
  margin: 0 -10px;
}
#sidebar #panel-me .follow h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}
#sidebar #panel-me .follow .following {
  border-right: 1px solid #E8F0F5;
  float: left;
  width: 80px;
  padding: 5px 0 5px 10px;
}
#sidebar #panel-me .follow .follower {
  margin-left: 90px;
  padding: 5px 0 5px 10px;
}
#sidebar #panel-me .follow span {
  color: #bbb;
  font-size: 11px;
}
#sidebar .upload {
  height: 51px;
  margin-bottom: 20px;
  margin-top: -2px;
  cursor: pointer;
}
#sidebar .upload.disabled {
  cursor: default;
}
#sidebar .upload .left {
  background: url(/static/img/items.png) 0 -118px no-repeat;
  width: 12px;
  height: 51px;
  float: left;
}
#sidebar .upload .right {
  background: url(/static/img/items.png) -88px -118px no-repeat;
  width: 12px;
  height: 51px;
  float: left;
}
#sidebar .upload .center {
  float: left;
  background: url(/static/img/items.png) 0 -62px repeat-x;
  height: 51px;
  width: 160px;
  color: #725F1A;
  font-size: 14px;
  line-height: 51px;
}
#follow {
  padding-left: 20px;
  padding-right: 20px;
}
a.fancybox-prev,
a.fancybox-next {
  display: none;
}
#invite_key .body {
  padding: 0;
}
#invite_key .body .column {
  padding: 15px;
  border-bottom: 1px solid #E8F0F5;
  overflow: hidden;
}
#invite_key .body .column input {
  float: left;
  width: 330px;
}
#invite_key .body .column .status {
  color: #468847;
  float: right;
  font-size: 12px;
}
#invite_key .body .column:last-child {
  border: 0;
}
#panel-user .body {
  padding-top: 10px;
}
#panel-user i {
  margin: 4px 0 -4px;
}
#panel-user img.avatar {
  width: 160px;
  height: 160px;
}
#panel-user h3 {
  color: #777;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0 5px 3px 0;
  float: left;
}
#panel-user p.meta {
  color: #ccc;
  font-size: 12px;
  padding: 0 0 5px;
  margin: 0;
}
#panel-user .divider {
  border-bottom: 1px solid #E8F0F5;
  margin: 5px -10px;
  padding: 1px 0;
}
#panel-user .bio {
  padding-top: 3px;
}
#panel-user .bio .content {
  margin-left: 23px;
  font-size: 12px;
}
#panel-user .param {
  margin: 0;
  padding: 3px 0 0;
}
#panel-user .data {
  margin: -5px -10px -10px;
  overflow: hidden;
}
#panel-user .data .item {
  float: left;
  padding: 7px;
  border-right: 1px solid #E8F0F5;
  width: 46px;
}
#panel-user .data .item:last-child {
  border-right: 0;
}
#panel-user .data h4 {
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 20px;
  font-weight: normal;
}
#panel-user .data p {
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 11px;
}
#panel-users .body {
  margin-right: -65px;
  padding-top: 0;
  padding-bottom: 0;
}
#panel-users .divider {
  border-bottom: 1px solid #E8F0F5;
  margin: 0 -10px;
  clear: both;
}
#panel-users .section {
  width: 340px;
  overflow: hidden;
  margin: 8px 50px 5px 0;
  float: left;
}
#panel-users .section .avatar {
  float: left;
  margin-top: 3px;
}
#panel-users .section .user-info {
  margin-left: 60px;
}
#panel-users .section .user-info .username {
  overflow: hidden;
}
#panel-users .section .user-info .level {
  vertical-align: middle;
}
#panel-users .section .user-info a {
  vertical-align: top;
}
#panel-users .section .user-info .mini-btn {
  float: right;
}
#panel-users .section .user-info .icon-bio {
  margin-top: 6px;
}
#panel-users .section .user-info .bio {
  margin-top: 6px;
}
#photo {
  float: left;
  position: relative;
  background: black;
}
#photo img {
  position: absolute;
  left: 50%;
  top: 50%;
}
#photo .icon-resize-full,
#photo .icon-resize-small {
  position: absolute;
  bottom: 7px;
  right: 7px;
  z-index: 3;
  cursor: pointer;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#photo .icon-resize-full:hover,
#photo .icon-resize-small:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#photo .left {
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 2;
}
#photo .icon-arrow-left {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -30px;
  z-index: 1;
}
#photo .right {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 2;
}
#photo .icon-arrow-right {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -30px;
  z-index: 1;
}
#photo-extra {
  width: 285px;
  float: right;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}
#photo-extra #photo-content-edit .input {
  margin-bottom: 5px;
}
#photo-extra #photo-content-edit .cancel {
  font-size: 12px;
  color: #aaa;
  margin-left: 5px;
}
#photo-extra #photo-content-edit input[type="text"],
#photo-extra #photo-content-edit textarea {
  width: 270px;
}
#photo-extra .icon-edit {
  margin-left: 5px;
  cursor: pointer;
  vertical-align: text-bottom;
}
#photo-extra .avatar {
  float: left;
}
#photo-extra .photo-content {
  font-size: 12px;
}
#photo-extra .photo-content h3 {
  margin: 0;
  padding: 0 0 5px;
  font-weight: bold;
  font-size: 14px;
}
#photo-extra .photo-content p.content {
  margin: 0;
  padding: 0;
}
#photo-extra .user-info {
  overflow: hidden;
}
#photo-extra .user-info .user-meta {
  margin-left: 55px;
}
#photo-extra .user-info .user-meta .icon-delete {
  float: right;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 5px;
}
#photo-extra .user-info .user-meta .icon-delete:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#photo-extra .user-info .user-meta div {
  overflow: hidden;
}
#photo-extra .user-info .user-meta div a {
  font-size: 14px;
  float: left;
}
#photo-extra .user-info .user-meta .level {
  margin-left: 10px;
  vertical-align: middle;
}
#photo-extra .user-info .user-meta .created {
  font-size: 12px;
  color: #bbb;
  padding: 3px 0;
  margin: 0;
}
#photo-extra .bar {
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #eee;
  margin: 5px -15px;
  padding: 0 15px;
}
#photo-extra .bar .icon-slideup,
#photo-extra .bar .icon-slidedown {
  float: right;
  margin-top: 8px;
  cursor: pointer;
}
#photo-extra .bar h4 {
  padding: 0;
  margin: 2px 0;
}
#photo-extra ul.param {
  list-style: none;
  color: #777;
  font-size: 12px;
}
#photo-extra ul.param li {
  margin: 0;
  padding: 0;
}
#photo-extra ul.tag {
  list-style: none;
  overflow: hidden;
  font-size: 12px;
}
#photo-extra ul.tag li {
  cursor: default;
  float: left;
  margin: 0 10px 2px 0;
}
#photo-extra ul.tag li .icon-tag {
  margin-top: -2px;
  vertical-align: middle;
}
#photo-extra ul.tag li .close {
  cursor: pointer;
  color: #777;
}
#photo-extra h4.tag-header {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
#photo-extra .addtag {
  color: #777;
  font-size: 11px;
}
#photo-extra .tagadd input[type="text"] {
  width: 100px;
  padding: 3px;
}
#photo-extra .tagadd .cancel {
  color: #777;
  font-size: 12px;
}
#photo-extra .like .btn {
  margin: 4px 8px 7px 0;
}
#photo-extra .like .btn i {
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 5px;
}
#photo-extra .like .data {
  font-size: 12px;
  color: #777;
  vertical-align: top;
  line-height: 34px;
}
#photo-extra .like .data .like-count {
  vertical-align: top;
}
#photo-extra #delete-photo-confirm {
  float: right;
  width: 80px;
  margin-top: 3px;
}
#photo-extra #delete-photo-confirm a.cancel {
  font-size: 12px;
  float: none;
}
#comments {
  background: #edeff4;
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
#comments .comment {
  overflow: hidden;
  padding: 5px 5px 0;
}
#comments .comment .created {
  color: #ccc;
  font-size: 11px;
  float: right;
  margin-top: -2px;
  margin-left: 7px;
}
#comments .comment .avatar {
  float: left;
  margin-right: 5px;
}
#comments .comment p.content {
  margin: 0;
  padding: 0;
  line-height: 16px;
  overflow: hidden;
}
#comments .comment p.content .close {
  float: right;
  font-size: 14px;
}
#comments .comment p.content .close:hover {
  text-decoration: none;
}
#comments .comment .level {
  vertical-align: text-bottom;
}
#comments .comment .right {
  margin-top: -3px;
  margin-left: 40px;
}
#comments .comment .right .username {
  overflow: hidden;
}
#comments .divider {
  border-top: 1px solid #D2D9E7;
  border-bottom: 1px solid #fff;
  margin: 0;
}
#comments .tip {
  font-size: 11px;
  color: #aaa;
  margin: 0;
  padding: 0;
}
#comments #comment-create input[type="text"] {
  width: 94%;
}
#panel-tags li .icon-tag {
  margin-top: -2px;
  margin-right: 5px;
  vertical-align: middle;
}
#footer {
  border-top: 1px solid #ccc;
}
#footer .right {
  float: right;
}
#footer .right .belief {
  color: #e4e4e4;
  font-size: 12px;
}
#footer .left {
  float: left;
}
#footer .left ul {
  list-style: none;
}
#footer .left ul li {
  float: left;
}
#footer .left .divider {
  color: #ccc;
  font-size: 11px;
  padding: 0 10px;
}
#about {
  color: #444;
  line-height: 180%;
}
#about h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
}
#about p {
  margin: 5px 0;
  padding: 0;
}
#about ul li {
  list-style: disc inside;
  color: #666;
}
#share {
  margin-bottom: 10px;
}
#share .gray {
  font-size: 12px;
  color: #aaa;
  margin: 0;
  padding: 0;
}
#blog {
  margin-bottom: 30px;
}
#blog .created {
  color: #bbb;
  font-size: 12px;
  float: right;
}
#blog .entry {
  line-height: 180%;
}
#blog h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
#blog-comments .divider {
  border-bottom: 1px solid #E8F0F5;
  margin: 0 -10px;
}
#blog-comments .comment {
  padding: 10px 0;
}
#blog-comments .comment:first-child {
  padding-top: 0;
}
#blog-comments .comment .avatar {
  float: left;
  margin-right: 10px;
}
#blog-comments .comment .content {
  margin-left: 55px;
}
#blog-comments .comment .content form {
  margin-bottom: -10px;
}
#blog-comments .comment .content form p {
  margin: 0;
  padding: 0;
}
#blog-comments .comment .content form textarea {
  margin: 0;
  width: 400px;
  height: 40px;
}
#blog-comments .comment .content .level {
  vertical-align: sub;
}
#blog-comments .comment .content .right-top {
  float: right;
  color: #bbb;
  font-size: 12px;
}
#blog-create label {
  width: 100px;
}
#blog-create input[type="text"],
#blog-create textarea {
  width: 500px;
}
#blog-create .btn {
  margin-left: 120px;
}
.ie #sidebar #panel-login .tip {
  vertical-align: super;
}
.ie #main .box .body {
  margin-bottom: 10px;
}
.ie .icon-view,
.ie .icon-like,
.ie .icon-comment {
  vertical-align: middle;
  padding-left: 3px;
}
.ie #header .inner {
  height: 30px;
}
.ie #header #logo {
  line-height: 28px;
}
.ie #photo-extra .like .data {
  vertical-align: super;
}
.ie #photo .left,
.ie #photo .right {
  background: #000;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  zoom: 1;
}
.ie #photo .icon-arrow-left,
.ie #photo .icon-arrow-right {
  z-index: 10000;
}
.ie7 .primary-btn {
  filter: -;
}
